<div>
  <p><%= t('padlock.emails.verification_email.instruction') %></p>
  <p>
    <%= link_to t('padlock.emails.verification_email.link_name'), verification_url(token: @token_key) %>
  </p>
  <p><%= t('padlock.emails.verification_email.warning') %></p>
</div>
