# MySQL. Versions 5.1.10 and up are supported.

default: &default
  adapter:  mysql2
  encoding: utf8
  host:     <%= ENV.fetch('DB_HOST', '127.0.0.1') %>
  port:     <%= ENV.fetch('DB_PORT', 3306) %>
  pool:     <%= ENV.fetch('RAILS_MAX_THREADS', 5) %>
  username: <%= ENV.fetch('DB_USERNAME', 'root') %>
  password: <%= ENV['DB_PASSWORD'] %>

development:
  <<: *default
  database: <%= ENV.fetch('DB_NAME') { ENV.fetch('APP_NAME', 'application').dup.concat('_development') } %>

test:
  <<: *default
  database: <%= ENV.fetch('DB_NAME') { ENV.fetch('APP_NAME', 'application').dup.concat('_test') } %>

production:
  <<: *default
  database: <%= ENV.fetch('DB_NAME') { ENV.fetch('APP_NAME', 'application').dup.concat('_production') } %>
